li {
  list-style-type: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

li:hover {
  background-color: rgb(189, 183, 183);
}

#prev-searched {
  width: 200px;
  height: 80vh;
  border: 2px black solid;
  position: absolute;
  right: 400px;
  top: 100px;
}
